.Button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outlined {
    padding: 5px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    background: none;
    outline: none;
}