.app.dark {
    --bg-color: #353535;
    --inverted-bg-color: #d4d4d4;

    --primary-color: #969dff;
    --inverted-primary-color: #1e277d;

    --secondary-color: #183b18;
    --inverted-secondary-color: #969dff;
}