.app_light_theme {
    --bg-color: #bebebe;
    --inverted-bg-color: #353535;
    --primary-color: #2f3c98;
    --inverted-primary-color: #969dff;
    --secondary-color: #143914;
    --inverted-secondary-color: #969dff;
}